<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.IDEFoundation.TextSubstitutionFileTemplateKind</string>
	<key>Description</key>
	<string>Elment Kit Source File, the element and tableViewController</string>
	<key>Summary</key>
	<string>Elment Kit Source File, the element and tableViewController</string>
	<key>SortOrder</key>
	<string>4</string>
	<key>AllowedTypes</key>
	<array>
		<string>public.objective-c-source</string>
		<string>public.objective-c-plus-plus-source</string>
	</array>
	<key>DefaultCompletionName</key>
	<string>File</string>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>productName</string>
			<key>Required</key>
			<true/>
			<key>Name</key>
			<string>BizName:</string>
			<key>Description</key>
			<string>The biz name of the file to create</string>
			<key>Type</key>
			<string>text</string>
			<key>NotPersisted</key>
			<true/>
			<key>Default</key>
			<string>EKElement Subclass</string>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>prefix</string>
			<key>Required</key>
			<true/>
			<key>Name</key>
			<string>Class Prefix:</string>
			<key>Description</key>
			<string>The Class Prefix</string>
			<key>Type</key>
			<string>text</string>
			<key>NotPersisted</key>
			<true/>
			<key>Default</key>
			<string>EK</string>
		</dict>
	</array>
</dict>
</plist>
